input {
    padding: 8px 16px;
    background-color: transparent;
    border: solid 1px #F9FAFB;
    border-radius: 16px;
}

input::placeholder {
    color: #F9FAFB;
}

input[type="date"] {
  color: #F9FAFB;
}
