select {
    padding: 8px 16px;
    color: #F9FAFB;
    background-color: transparent;
    border: solid 1px #F9FAFB;
    border-radius: 16px;
}

select::placeholder {
    color: #F9FAFB;
}

option {
    color: #2E2A6F;
    height: fit-content;
    font-weight: 400;
}