.button {
    background-color: #F8E6F1;
    color: #2B2B2B;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    align-self: center;
}

.button:hover {
    opacity: 0.8;
    cursor: pointer;
}
