form {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 32px;
    padding: 32px 24px;
    border-radius: 16px;
    background: linear-gradient(180deg, #D16BA5 0%, #c1297f 100%);
}

form section {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

form fieldset {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
