form {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 32px;
    padding: 32px 24px;
    border-radius: 16px;
    background-color: #D16BA5;
}

form section {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
