@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&display=swap');

.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #F6F2EE;
    font-family: "Atkinson Hyperlegible Mono", sans-serif;
}

.logo img {
  height: 4rem;
}
