@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

h2 {
  font-family: "Playfair Display", serif;
  font-size: 24px;
}

p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

header {
  display: flex;
  justify-content: center;
  background: linear-gradient(180deg, #D16BA5 0%, #c1297f 100%);
}

header img {
  height: 8rem;
}

main {
  background-color: #F6F2EE;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 64px;
}

main img {
  width: 100%;
}